/* shared style */
* {
    font-family: 'Work Sans', sans-serif;
    margin: 0 auto;
    padding: 0;
}

main {
    width: 1050px;
    border: 1px solid black;
}

/* header style */
.header-section {
    height: 100vh;
    background-image: url('../images/banner/banner1.png');
    background-size: contain;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-text {
    margin-left: 100px;
    text-align: right;
}

.banner-title {
    font-size: 55px;
}

.header-text>p {
    margin: 20px 0px;
}

.contact-btn {
    padding: 10px 15px;
    background-color: #F15B22;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

/* my failure style */
.my-failure-container {
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    gap: 100px;
}

.my-failure-img img {
    background-color: rebeccapurple;
    width: 369px;
    height: 466px;
}

.my-failure-text {
    background-color: #F15B22;
    padding-right: 100px;
    line-height: 30px;
}
.my-failure-text h2{
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    line-height: 40px;
}
.my-failure-text ul{
    margin-left: 20px;
    margin-top: 16px;
}
.my-failure-text ul > li{
    list-style: hebrew;
}

/* my plan section style */
.my-plan-container{
    margin-top: 60px;
    padding-bottom: 50px;
    background-color: darkgray;
}
.my-plan-container-title{
    text-align: center;
    padding:2rem 0;

}
.my-plan-section{
    display: flex;
    justify-content: space-around;
}
.my-plan{
    text-align: center;
}
.my-plan img{
    height: 70px;
    width: 70px;
}
.my-plan  h3{
    margin: 1rem 0rem 10px 0rem;
}
/* shared style */
/* shared style */
/* shared style */
/* shared style */
/* shared style */