/* shared style */
* {
    font-family: 'Work Sans', sans-serif;
    margin: 0 auto;
    padding: 0;
}

main, .footer-container {
    width: 1050px;
}

/* header style */
.header-section {
    height: 100vh;
    background-image: url('../images/banner/banner1.png');
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-text {
    margin-left: 100px;
    text-align: right;
}

.banner-title {
    font-size: 55px;
}

.header-text>p {
    margin: 20px 0px;
}

.contact-btn {
    padding: 10px 15px;
    background-color: #F15B22;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

/* my failure style */
.my-failure-container {
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    gap: 100px;
    margin-top: 50px;
}

.my-failure-img img {
    width: 369px;
    height: 466px;
}

.my-failure-text {
    padding-right: 100px;
    line-height: 30px;
}
.my-failure-text h2{
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    line-height: 40px;
}
.my-failure-text ul{
    margin-left: 20px;
    margin-top: 16px;
}
.my-failure-text ul > li{
    list-style: hebrew;
}

/* my plan section style */
.my-plan-container{
    margin-top: 60px;
    padding-bottom: 50px;
}
.my-plan-container-title{
    text-align: center;
    padding:2rem 0;

}
.my-plan-section{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.my-plan{
    text-align: center;
}
.my-plan img{
    height: 70px;
    width: 70px;
}
.my-plan  h3{
    margin: 1rem 0rem 10px 0rem;
}

/* call now section style */
.call-now-section{
    height: 150px;
    margin: 100px 0px 50px;
    border-radius: 10px;
    padding: 59px 64px;
    background-image: url('../images/watch.png'),linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0.00) 100%);
    background-blend-mode: overlay;
    background-size: cover;
}
.call-now-section  h1{
    font-size: 35px;
    color: white;
}
.call-now-btn{
    padding: 15px 25px;
    margin-top: 15px;
    border-radius: 5px;
    color: #F15B22;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

/* footer style */
.footer{
    background-color: #151414;
    color: white;
    padding-top: 75px;
}
.footer-container{
    display: flex;
}
.footer-column{
    width: 50%;
}
.footer-column-title{
    margin-bottom: 20px;
}
.footer-column > p{
    margin: 15px 0;
}
.social-link a{
    margin-right: 20px;
}
.subscribe{
    margin-left: 300px;
}
.footer-column > input{
    padding: 15px;
    width: 50%;
}
.subscribe-btn{
    padding: 15px 25px;
    margin-top: 15px;
    border-radius: 5px;
    color: #F15B22;
    border: none;
    font-size: 20px;
    cursor: pointer;
}